body{
  min-height: 2000px;
  background: #f8f8f8;
}
.prime-heading{
  color: #ffffff;
  font-weight: bold;
}
.sub-heading{
  color: #ffffff;
  font-size: 18px;
}

/* Grid */
.container {
  width: 1461px;
  max-width: 100%;
}

@media (max-width: 992px){
  .container {
    width: 1143px;
    max-width: 100%;
  }
}
@media (max-width: 768px){
  .container {
    width: 998px;
    max-width: 100%;
  }
}


// Hero
.heros{
  &.hero-3{
    .hero{
      width:33.3333333333%;
      float: left;
      color: #ffffff;


      .inner{
        position: relative;
        @extend .sub-gradient;
        padding: 60px 15px;

        h2,h3,h4{
          font-size: 28px;
          text-align: center;
          margin-top: 20px;
        }

        .text-box{
          max-width: 525px;
          margin: 25px auto;

          p{

          }
        }
      }
      &.on{
        .inner{
          padding-bottom: 39px;
          padding-top: 17px;
          border-radius: 0 0 40px 40px;
          position: relative;
          z-index:110;
          @extend .main-gradient;

          ul{
            padding: 0;
            text-align: center;
            li{

              list-style: none;

              &:before {
                content: '\f00c';
                font-family: FontAwesome;
                font-size: 24px;
                position: relative;
                top: 3px;
                display: inline-block;
                margin-right: 7px;
                color: $text-green;
              }
            }
          }
        }
      }
    }
  }
}
// Buttons
.btn{

  &.btn-go {
    background: $brand-green;
    background: -moz-linear-gradient(top, $brand-green 0%, #2e9937 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $brand-green), color-stop(100%, #2e9937));
    background: -webkit-linear-gradient(top, $brand-green 0%, #2e9937 100%);
    background: -o-linear-gradient(top, $brand-green 0%, #2e9937 100%);
    background: -ms-linear-gradient(top, $brand-green 0%, #2e9937 100%);
    background: linear-gradient(to bottom, $brand-green 0%, #2e9937 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bottom, GradientType=0);
    border: 0;
    border-radius: 3px;
    color: #fff;
    margin: 0 auto;
    max-width: 100%;
    padding: 20px 65px;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    line-height: 1.5em;
    cursor: pointer;
    @include transition(all .4s ease);

    &:hover {
      color: #fff;
      background: darken($brand-green, 10%);
      background: -moz-linear-gradient(top, darken($brand-green, 10%) 0%, #2e9937 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $brand-green), color-stop(100%, #2e9937));
      background: -webkit-linear-gradient(top, darken($brand-green, 10%) 0%, #2e9937 100%);
      background: -o-linear-gradient(top, darken($brand-green, 10%) 0%, #2e9937 100%);
      background: -ms-linear-gradient(top, darken($brand-green, 10%) 0%, #2e9937 100%);
      background: linear-gradient(to bottom, darken($brand-green, 10%) 0%, #2e9937 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top, endColorstr=$bottom, GradientType=0);
    }

    &.md{
      padding: 9px 40px;
    }
  }

  &.btn-outline-secondary{
    &.green {
      border-color: $brand-green;
      color: #ffffff;
      cursor: pointer;

      &:hover{
        color: #fff;
        background: $brand-green;
        background: -moz-linear-gradient(top, $brand-green 0%, #2e9937 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $brand-green), color-stop(100%, #2e9937));
        background: -webkit-linear-gradient(top, $brand-green 0%, #2e9937 100%);
        background: -o-linear-gradient(top, $brand-green 0%, #2e9937 100%);
        background: -ms-linear-gradient(top, $brand-green 0%, #2e9937 100%);
        background: linear-gradient(to bottom, $brand-green 0%, #2e9937 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom, GradientType=0 );
      }
    }
  }
}