footer{

  .pre-footer{
    background: #2d2e31;
    padding: 20px 10px 35px 10px;
    color: #57585c;
    margin-top: 50px;

    h4{
      margin-bottom: 20px;
    }

    .social-media{
      .fa{
        padding: 15px;
        font-size: 30px;
        text-decoration: none;
        color:#2d2e31;
        background: #57585c;
      }
    }
  }
  .footer{
    background: #57585c;
    padding: 50px 15px;

  }
}