header {
  clear: both;
  overflow: auto;
  position: absolute;
  transform: translate(0px, 0px);
  width: 100%;
  z-index: 200;
  height: 65px;
  top: 0px;
  @include transition(all .4s ease);

  &.pre{
    position:absolute;
    transform: translate(0px, -50px);
    z-index: 200;
  }


  &.on{
    position: fixed;
    background-color: $brand-primary;
    height: 65px;
    transform: translate(0px, 0px);
    top:0;
    box-shadow: 0 3px 8px rgba(0,0,0,.2);
  }
  .group {
    width: 82%;
    float: left;
    @media (max-width: 880px) {
      width: 70%;
    }
    .logo {
      float: left;
      cursor: pointer;

      img{
        width: 150px;
        margin-top: 4px;
      }

      .heading {
        padding: 6px 0;
        display: inline-block;
      }
    }
    .navigation {
      float: left;
    }
  }

  .action {
    width: 18%;
    float: right;
    text-align: right;

    @media (max-width: 880px) {
      width: 30%;
    }
    .btn {
      &.green {
        margin-top: 15px;
      }
    }
  }
}
