#home{
  margin-top: 65px;
  #feature{
    background: $body-gray;
    width: 100%;

    .headings{
      width: 100%;
      max-width: 700px;
      margin: auto;

      img{
        max-width: 447px;
      }
      .sub-heading{
        color: $text-color;
      }
    }
    img{
      width: 100%;
    }
  }
}